<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{title}}我爱平铺</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="/img/favicon.jpg">
<link href="/css/github-markdown.min.css" rel="stylesheet">
<link href="/css/highlight.min.css" rel="stylesheet">
<link href="/css/style.css?v=1" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <a href="https://sijie.wang" class="site-title">
            <img class="avatar" src="/img/avatar.jpg" />
            <h1>我爱平铺</h1>
        </a>
    </nav>
</header>