name: Build

on:
  issues:
    types: [closed, edited, deleted]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: curl https://api.vercel.com/v1/integrations/deploy/prj_TTtwS9LWS46dB4lZjUvWJSxBdR5i/WoioULqgIq
